<div class="auth-hero min-vh-100 d-flex flex-column align-items-center justify-content-start py-5">
    <img src="assets/img/emenetLogo.png" alt="Logo" height="100" class="mb-3 opacity-75">
    <div class="auth-card shadow-lg p-4 p-sm-5">
        <div class="card-body">
            <h4 class="mb-3">¿Has olvidado tu contraseña?</h4>

            <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">

                <!-- Contraseña -->
                <div class="mb-3">
                    <label class="form-label">Nueva Contraseña</label>
                    <div class="input-group">
                        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control"
                            placeholder="Nueva contraseña (mín 8 caracteres)" />

                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="mt-2 small text-danger">
                        </div>

                        <button type="button" class="btn btn-outline-secondary" (click)="viewPassword()">
                            <img [src]="showPassword ? 'assets/img/invisible.png' : 'assets/img/ojo.png'" alt="" width="24" height="24">  
                        </button>
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="password?.errors && password?.touched">
                        <div *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 8
                            caracteres.</div>
                         <div *ngIf="password?.errors?.['required']">La contraseña es requerida.</div>
                    </div>
                    <div class="form-text">
                        Recomnedaciones <br>
                        <ul>
                            <li>No usar palabras obvias o fácilmente deducibles</li>
                            <li>Combinar letras con caracterez</li>
                        </ul>
                    </div>
                </div>

                <!-- Acciones -->
                <div class="d-flex gap-2 justify-content-end mt-4">
                    <button type="button" class="btn btn-outline-secondary" (click)="cancel()" [disabled]="loading">Cancelar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="loading">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
                        Guardar cambios
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>