/* SIDEBAR */
.sidebar {
  box-shadow: 0 6px 18px rgba(202, 48, 9, 0.06);
  border-radius: 12px;
  padding: 12px;
  margin: 0; 
  flex-shrink: 0;
  transition: width .25s ease, transform .25s ease;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: sticky;
  top: 0; 
  max-height: 100vh; 
  overflow-y: hidden !important;
}



/*ajuste en */
@media (max-width: 768px) {
  .sidebar {
    position: relative;
    height: auto;
    box-shadow: none;
    border-radius: 0;
  }
}

/* Estilo general para items */
.list-group-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.list-group-item:hover {
  background: rgba(0, 123, 255, 0.08);
  transform: translateX(4px);
}

.list-group-item img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.logout {
  color: #d9534f;
}

/* Ocultar scrollbar pero permitir scroll */
.sidebar {
  scrollbar-width: none; /* Firefox */
}

.sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


