<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-lg p-2 p-sm-3">
                <div class="card-body">
                    <h4 class="mb-3">Editar perfil</h4>

                    <form [formGroup]="updateForm" (ngSubmit)="update()">

                        <!-- Correo -->
                        <div class="mb-3">
                            <label for="InputEmail1" class="form-label fw-semibold">Email</label>
                            <input formControlName="email" type="email" class="form-control" id="InputEmail1"
                                 aria-describedby="emailHelp" placeholder="correo@dominio.com">

                            <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)"
                                class="mt-2 small text-danger">

                                <div *ngIf="email.errors?.['required']">
                                    Email requerido
                                </div>
                                <div *ngIf="email.errors?.['email']">
                                    Email debe tener formato valido
                                </div>
                            </div>
                        </div>

                        <!-- Contraseña -->
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Contraseña</label>
                            <div class="input-group">
                                <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                                    class="form-control" placeholder="Nueva contraseña (mín 8 caracteres)" />

                                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                    class="mt-2 small text-danger">
                                </div>

                                <button type="button" class="btn btn-outline-secondary" (click)="viewPassword()">
                                    <img [src]="showPassword ? 'assets/img/invisible.png' : 'assets/img/ojo.png'" alt=""
                                        width="24" height="24">
                                </button>
                            </div>
                            <small> <small> el campo vacio si no deseas cambiar la contraseña </small> </small>

                            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                class="mt-2 small text-danger">
                                <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 8
                                    caracteres.</div>
                                <div *ngIf="password.errors?.['required']">La contraseña es requerida.</div>
                            </div>
                        </div>

                        <!-- Acciones -->
                        <div class="d-flex gap-2 justify-content-end mt-4">
                            <button type="button" class="btn btn-outline-secondary" (click)="cancel()"
                                [disabled]="loading">Cancelar</button>
                            <button type="submit" class="btn btn-primary" [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
                                Guardar cambios
                            </button>
                        </div>
                    </form>
                </div>
                <ngx-sonner-toaster richColors position="top-center" />
            </div>
        </div>
    </div>
</div>